section:nth-of-type(3){
    color: white;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 20px 0;
    margin-top: 100px;

    position: relative;
}


.subTituloBasico{   
    width: 100%;
    text-align: center;
    padding: 0 10px;
}


#espacoProjetos{
    width: 80%;
    min-height: 1200px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}


.espacoProjetosEstilo{
    background-color: rgba(128, 128, 128, 0.205); 
    border: dashed black 10px; 
}


#instrucaoProjetos{
    color: gray;
    width: 100%;
    text-align: center;
    padding: 0 15px;
}


#projetosSites{
    display: none;
}

#projetosJS{
    display: none;
}

#projetosAPI{
    display: none;
}



.projetos{
    width: 100%;
    min-height: 800px;
    border: solid rgb(255, 255, 255)10px;
    padding: 15px 10px 0px 20px;
    background-color: rgb(116, 114, 114);
}



.projeto{
    width: 100%;
    min-height: 220px;
    margin-bottom: 20px;
    border: solid black 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 300px;
}


.projeto img{
    width: 96%;
    height: 96%;
}


.projeto div:nth-child(1){
    width: 300px;
    height: 100%;
    position: absolute;
    left: 5px;
    top: 4px;
}


.projeto p:nth-child(2), .projeto p:nth-child(3), .projeto div:nth-child(4){
    height: 33%; 
    color: black;
    font-weight: bold;
    display: flex;
    padding: 0 10px;
}


.projeto p:nth-child(2){
    font-size: 22px;
    height: 60px;
}


.projeto p:nth-child(3){
    font-size: 14px;
    min-height: 100px;
    padding-bottom: 20px;
    padding-top: 12px;
}


.projeto div:nth-child(4){
    height: 30px;
    margin: 10px 0 20px 0;
}


.projeto div:nth-child(4) button:first-of-type{
    margin: 0 30px 0 20px;
}


.projeto div:nth-child(4) button{
    background-color: black;
    color: white;
    border: solid rgb(255, 74, 87) 3px;
    padding: 5px 10px;
    cursor: pointer;

    transition: 0.2s;
}


.projeto div:nth-child(4) button:hover{
    background-color: red;
    border: solid rgb(255, 255, 255) 3px;
}




#containerSelecaoProjetos{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 130px;
    padding-top: 180px;
    position: relative;

    display: flex;
    justify-content: center;
}


.cartaoProjeto{
    background-color: rgb(26, 27, 36);
    width: 300px;
    height: 300px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 0 10px;
    box-shadow: 1px 1px 18px rgba(173, 172, 172, 0.534);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.cartaoProjeto p{
    cursor: pointer;
}


.cartaoProjeto:nth-child(2){
    margin-right: 60px;
    color: rgb(228, 77, 38);
}

.cartaoProjeto:nth-child(3){
    transform: scale(1.1);
    color: rgb(255, 255, 0);
}

.cartaoProjeto:nth-child(4){
    margin-left: 60px;
    color: rgb(73, 183, 247);
}





@media screen and (max-width: 1064px){
    #containerSelecaoProjetos{
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    
    
    .cartaoProjeto:nth-child(2){
        margin-right: 0px;
        margin-bottom: 50px;
        color: rgb(228, 77, 38);
    }
    
    .cartaoProjeto:nth-child(3){
        transform: scale(1);
        color: rgb(255, 255, 0);
    }
    
    .cartaoProjeto:nth-child(4){
        margin-left: 0px;
        margin-top: 50px;
        color: rgb(73, 183, 247);
    }
}


@media screen and (max-width: 900px){
    #espacoProjetos{
        width: 95%;
    }
}



@media screen and (max-width: 800px){
    .projeto div:nth-child(4) button:first-of-type{
        margin: 0 30px 0 0px;
    }
}


@media screen and (max-width: 750px){
    .projeto{
        padding: 10px 10px 30px 10px;
        align-items: center;
    }
    
    
    .projeto div:nth-child(1){
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }


    .projeto img{
        width: 300px;
    }


    .projeto p:nth-child(2), .projeto p:nth-child(3), .projeto div:nth-child(4){
        height: auto;
        text-align: center;
    }
    
    
    .projeto div:nth-child(4){
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    
    .projeto div:nth-child(4) button:first-of-type{
        margin: 0;
        margin: 10px 0 20px 0;
    }
}


@media screen and (max-width: 550px){
    #containerSelecaoProjetos{
        padding-top: 250px;
    }
}


@media screen and (max-width: 445px){
    .subTituloBasico{   
        margin-top: 20px;
    }
}


@media screen and (max-width: 400px){
    .projeto img{
        width: 100%;
    }


    .projeto div:nth-child(1){
        margin-right: 11px;
        width: 106%;
    }
}


@media screen and (max-width: 360px){
    .cartaoProjeto{
        width: 90%;
        font-size: 17px;
    }
}


@media screen and (max-width: 300px){
    .projeto p:nth-child(2){
        font-size: 17px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    
    
    .projeto p:nth-child(3){
        font-size: 11px;
    }


    .projeto p:nth-child(2), .projeto p:nth-child(3), .projeto div:nth-child(4){
        width: 115%;
    }


    .projeto div:nth-child(4) button{
        font-size: 10px;
    }
}


@media screen and (max-width: 220px){
    .subTituloBasico{   
        font-size: 13px;
    }
}


